<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>32977242957-tdo488coescdpvrhhogu00unknc7pm7t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.32977242957-tdo488coescdpvrhhogu00unknc7pm7t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>32977242957-hjdeoof42setelotagopecjmpp64ovs4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBOW6_XChAPHYt8kwyXq1rppu9GJd-kkyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>32977242957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scrubtofit</string>
	<key>PROJECT_ID</key>
	<string>scrubtofitness</string>
	<key>STORAGE_BUCKET</key>
	<string>scrubtofitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32977242957:ios:8824a39a524e90a08c0504</string>
</dict>
</plist>